body{
    background: #F2F2F2;
    position: fixed;
}

#primary{
    width: 200px;
    height: 60px;
    margin: 67px 0 0 60px;
    background-color: black;
    color: white;
    border-radius: 5px;
    font-size: 18px;
}

#secondary{
    width: 200px;
    height: 60px;
    margin: 67px 0 0 60px;
    background-color: white;
    color: black;
    border-radius: 5px;
    font-size: 18px;
}

#blog-1{
    width: 270px;
    height: 436px;
    margin: 80px 0 0 60px;
}

#rectangle{
    width: 270px;
    height: 270px;
    background-color: black;
}

#rectangle-3{
    width: 64px;
    height: 64px;
    margin: 103px 0 0 103px;
    border-radius: 8px;
    background-color: white;
    position: absolute;
}

#content{
    background-color: white;
    width: 270px;
    height: 166px;
    position: fixed;
        
}

#content > p {
    margin-left: 25px;
    margin-top: 20px;
}

#special-feature{
     margin-top: 40px; 
}  

#see-more{
}

p{
    margin: 0;
}